<section>
  <div class="space-x-4">
    <input
      class="border border-gray-300 py-1.5 px-2 rounded-sm focus:outline-none focus:border-sky-500"
      type="text"
      placeholder="Filter by city"
      #filter
    />
    <button
      (click)="filterResults(filter.value)"
      class="border rounded border-sky-500 text-sky-500 py-1.5 px-4"
      type="button"
    >
      Search
    </button>
  </div>
</section>

<section class="mt-8">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
  >
    <app-housing-location
      *ngFor="let housingLocation of filteredLocationList"
      [housingLocation]="housingLocation"
    ></app-housing-location>
  </div>
</section>
